/* vim: se fdm=marker: */

/* global {{{ */
* {
    font-family: 'JetBrains Mono', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #E5E9f0;
}

.modules-left {
    margin-left: 8px;
}
.modules-right {
    margin-right: 8px;
}
/* }}} */

/* sway/workspaces {{{ */
#workspaces button {
    padding: 0 3px;
    color: #E5E9f0;
}
#workspaces button.focused {
    color: #81A1C1;
}
#workspaces button.urgent {
    color: #EBCB8B;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* FAQ says 3px horizontal padding but seems to need 4px */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    border: transparent;
    padding: 0 4px;
}
/* }}} */

/* sway/mode {{{ */
#mode {
    color: #B48EAD;
}
/* }}} */

/* sway/window {{{ */
/* nothing here! */
/* }}} */

/* network {{{ */
#network.linked,
#network.ethernet,
#network.wifi {
    color: #8FBCBB;
}
/* }}} */

/* pulseaudio {{{ */
#pulseaudio.muted {
    color: #EBCB8B;
}
/* }}} */

/* clock {{{ */
/* nothing here! */
/* }}} */
